* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
}
.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  z-index: 10000;
  // overflow: scroll;
  // margin-bottom: -10%;

  h2 {
    // margin-left: 5%;
    margin-left: -5%;
    letter-spacing: 2px;
    color: white;
  }
  ul {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    // margin-right: 2%;

    li {
      list-style: none;
    }
    li a {
      text-decoration: none;
      color: black;
      padding: 10px 20px;
      border-radius: 20px;
      color: white;
    }

    li a:hover {
      background-color: white;
      color: #160532;
    }
  }
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  // overflow-y: scroll;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }
  img#moon {
    left: 10%;
    top: 0%;
    mix-blend-mode: screen;
    opacity: 0.9;
  }
  img#building {
    mix-blend-mode: luminosity;
    // margin-top: -100px;
    // z-index: -1;
    filter: contrast(20px);
    filter: brightness(0.1);
    z-index: 150;
  }
  img#sky {
    opacity: 0.7;
  }

  // #word{
  //     position: absolute;
  //     // top: -333px;
  //     bottom: 0%;
  //     right: 0%;
  //     z-index: 90;
  //     // display: none;
  //     color: white;
  // }
}
.data {
  position: relative;
  padding: 100px;
  background-color: #1c0522;

  #word {
    font-size: 25px;
    color: white;
    position: absolute;
    left: -333px;
    top: 3%;
    z-index: 70;
    margin-bottom: 20px;
    // transition: 0.5s;
    transition: 1s;

  }
}
